<!DOCTYPE HTML>
<head>
</head>

<body>

  <iframe id="twitter-widget-4" scrolling="no" frameborder="0"
    allowtransparency="true" allowfullscreen="true"
    class="twitter-tweet twitter-tweet-rendered"
    style="position: static; visibility: visible; display: block; width: 500px; height: 216.672px; padding: 0px; border: none; max-width: 100%; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"
    title="Twitter Tweet">
  </iframe>
  <html class="SandboxRoot env-bp-min">
    <head>
      <base target="_blank">
        <link type="text/css" rel="stylesheet" href="https://platform.twitter.com/css/tweet.fe926dfa02e1503196d3aa2c6cd7dc97.light.ltr.css">
    </head>
    <body>
      <div class="EmbeddedTweet EmbeddedTweet--edge js-clickToOpenTarget tweet-InformationCircle-widgetParent"
      data-click-to-open-target="https://twitter.com/Interior/status/463440424141459456"
      data-iframe-title="Twitter Tweet" data-dt-full="%{hours12}:%{minutes} %{amPm} - %{day} %{month} %{year}"
      data-dt-explicit-timestamp="12:09 AM - May 6, 2014" data-dt-months="Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec"
      data-dt-am="AM" data-dt-pm="PM" data-dt-now="now" data-dt-s="s" data-dt-m="m" data-dt-h="h" data-dt-second="second"
      data-dt-seconds="seconds" data-dt-minute="minute" data-dt-minutes="minutes" data-dt-hour="hour"
      data-dt-hours="hours" data-dt-abbr="%{number}%{symbol}" data-dt-short="%{day} %{month}"
      data-dt-long="%{day} %{month} %{year}" data-scribe="page:tweet" id="twitter-widget-4"
      lang="en" data-twitter-event-id="0">
        <div class="EmbeddedTweet-tweet">
          <blockquote class="Tweet h-entry js-tweetIdInfo subject expanded is-deciderHtmlWhitespace"
          data-tweet-id="463440424141459456"
          data-scribe="section:subject">

            <div class="Tweet-header u-cf">
              <div class="Tweet-brand u-floatRight">
                <a href="http://pulator.veikko.it" data-scribe="element:logo">
                  <span class="FollowButton-bird">
                    <div class="Icon Icon--twitter " aria-label="View on Twitter" title="View on Twitter" role="presentation">
                    </div>
                  </span>
                </a>
              </div>
              <div class="TweetAuthor js-inViewportScribingTarget js-aBScribingTarget" data-scribe="component:author">
                <a class="TweetAuthor-link Identity u-linkBlend" data-scribe="element:user_link" href="https://twitter.com/realDonaldTrump">
                  <span class="TweetAuthor-avatar Identity-avatar">
                    <img class="Avatar Avatar--edge" data-scribe="element:avatar"
                      data-src-2x="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg"
                      alt="" data-src-1x="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg"
                      src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg">
                  </span>
                  <span class="TweetAuthor-decoratedName">
                    <span class="TweetAuthor-name TweetAuthor-name--flex Identity-name customisable-highlight" title="Donald J. Trump" data-scribe="element:name">
                      Donald J. Trump
                    </span>
                    <span class="TweetAuthor-verifiedBadge TweetAuthor-verifiedBadge--flex" data-scribe="element:verified_badge">
                      <div class="Icon Icon--verified " aria-label="Verified Account" title="Verified Account" role="img">
                      </div>
                      <b class="u-hiddenVisually">
                        ✔
                      </b>
                    </span>
                  </span>
                  <span class="TweetAuthor-screenName Identity-screenName" title="@real-ish-DonaldTrump"
                  data-scribe="element:screen_name" dir="ltr">
                    @fakeDonaldTrump
                  </span>
                </a>
              </div>
            </div>

            <div class="Tweet-body e-entry-content" data-scribe="component:tweet">
              <div class="u-hiddenVisually js-inViewportScribingTarget">
              </div>
              <p class="Tweet-text e-entry-title" lang="en" dir="ltr">
                Trump is typing ...
              </p>
              <img style="width:100%;" src=https://upload.wikimedia.org/wikipedia/commons/2/23/Lake_mapourika_NZ.jpeg>
              <div class="Tweet-metadata dateline">
                <a class="u-linkBlend u-url customisable-highlight long-permalink"
                data-datetime="2014-05-05T22:09:42+0000" data-scribe="element:full_timestamp">
                  <time class="dt-updated" datetime="2014-05-05T22:09:42+0000"
                  pubdate="" title="Time posted: May 05, 2014 22:09:42 (UTC)">
                    1:00 PM - November 26, 2017
                  </time>
                </a>
              </div>

              <div class="u-hiddenVisually js-aBScribingTarget">
              </div>
              <ul class="Tweet-actions" data-scribe="component:actions" role="menu" aria-label="Tweet actions">
                <li class="Tweet-action">
                  <a class="TweetAction TweetAction--replyEdge web-intent" href="https://twitter.com/intent/tweet?in_reply_to=463440424141459456" data-scribe="element:reply"><div class="Icon Icon--reply TweetAction-icon Icon--replyEdge" aria-label="Reply" title="Reply" role="img"></div>
                    <span class="TweetAction-stat" data-scribe="element:reply_count"
                    aria-hidden="true">
                      965
                    </span>
                    <span class="u-hiddenVisually">
                      0 Replies
                    </span>
                  </a>
                </li>
                <li class="Tweet-action">
                  <a class="TweetAction TweetAction--retweetEdge web-intent" href="https://twitter.com/intent/retweet?tweet_id=463440424141459456" data-scribe="element:retweet"><div class="Icon Icon--retweet TweetAction-icon Icon--retweetEdge" aria-label="Retweet" title="Retweet" role="img"></div>
                    <span class="TweetAction-stat" data-scribe="element:retweet_count"
                    aria-hidden="true">
                      2,732
                    </span>
                    <span class="u-hiddenVisually">
                      2,732 Retweets
                    </span>
                  </a>
                </li>
                <li class="Tweet-action">
                  <a class="TweetAction TweetAction--heartEdge web-intent" href="https://twitter.com/intent/like?tweet_id=463440424141459456" data-scribe="element:heart"><div class="Icon Icon--heart TweetAction-icon Icon--heartEdge" aria-label="Like" title="Like" role="img"></div>
                    <span class="TweetAction-stat" data-scribe="element:heart_count"
                    aria-hidden="true">
                      4,130
                    </span>
                    <span class="u-hiddenVisually">
                      4,130 likes
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </blockquote>
        </div>
        <div class="tweet-InformationCircle--bottom tweet-InformationCircle" data-scribe="element:notice"><a href="https://support.twitter.com/articles/20175256" class="Icon Icon--informationCircleWhite js-inViewportScribingTarget" title="Twitter Ads info and privacy"><span class="u-hiddenVisually">Twitter Ads info and privacy</span></a>
        </div>
      </div>
    </body>
  </html>
</body>
