<div>
  <blockquote>
    <div >
      <div >
        <a href="http://pulator.veikko.it" >
          <span >
            <div>
            </div>
          </span>
        </a>
      </div>
      <div >
        <a>
          <span >
            <img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg"/>
          </span>
          <span>
            <span>
              Donald J. Trump
            </span>
            <span>
              <div>
              </div>
              <b>
                ✔
              </b>
            </span>
          </span>
          <span>
            @fakeDonaldTrump
          </span>
        </a>
      </div>
    </div>

    <div>
      <div>
      </div>
      <p>
        Trump is typing ...
      </p>
      <img style={{width:"100%"}} src="https://upload.wikimedia.org/wikipedia/commons/2/23/Lake_mapourika_NZ.jpeg"/>
      <div >
        <a>
          <time>
            1:00 PM - November 26, 2017
          </time>
        </a>
      </div>

      <div>
      </div>
      <ul>
        <li>
          <a>
            <div></div>
            <span>
              965
            </span>
            <span>
              0 Replies
            </span>
          </a>
        </li>
        <li>
          <a><div></div>
            <span>
              2,732
            </span>
            <span>
              2,732 Retweets
            </span>
          </a>
        </li>
        <li>
          <a>
            <div></div>
            <span>
              4,130
            </span>
            <span>
              4,130 likes
            </span>
          </a>
        </li>
      </ul>
    </div>
  </blockquote>
</div>
<div><a href=""><span>Twitter Ads info and privacy</span></a>
</div>