/* loader */
.loader {
  height: 4rem;
  width: 4rem;
  overflow: show;
  margin: auto;
  border: 16px solid #92a8d1;
  border-radius: 50%;
  border-top: 16px solid #034f84;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
