@import 'loader.scss';
@import 'navbar.scss';
@import 'result.scss';
@import 'form.scss';
@import 'tag.scss';

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

a, a:visited {
  color: #42b983;
  text-decoration: none;
}

a:active {
  color: #CCCCCC;
}

a:hover {
  color: #FFFFFF;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.3em;
}
p {
  font-size: 1.0em;
}
